@use '../../sass/abstracts/variables';
.empty-list {
  @include variables.container(flex,center,center);
  flex-direction: column;
  &__illustration{
    width: 500px;
    margin-bottom: 40px;
  }
  &__logo-message{
    font-weight: 500;
    font-size: 2rem;
  }
  &__message{
    font-weight: 400;
  }
}