@use '../../sass/abstracts/variables';
.filters{
  @include variables.container(flex,space-between, none);
  margin: 20px 0 20px 0;

  &__uncompleted{
    color: variables.$primaryButton;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__completed{
    color: variables.$secondaryButton;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}